@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globais personalizados podem ser adicionados aqui */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Garante que a barra de navegação fixa funcione corretamente */
.fixed-bottom-nav {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
    width: 100%;
}